/**global classes */
.pos-r{
  position: relative;
}
.pos-a{
  position: absolute;
}
.post-edit-link{
  @extend .btn;
  position: fixed;
  z-index:999999;

  @include media-breakpoint-down(sm) {
    bottom:0;
    top:auto;
  }
  @include media-breakpoint-up(md) {
    @include transform (1, 90deg);
    transform-origin: 100% 100%;
    top:25%;
    right:2rem;
  }
}
/** global menu styles **/
ul{
    #offMenu & {
    padding:0;
    margin:0;
    text-transform: uppercase;
    &, li{
      list-style: none;
    }
    &.sub-menu{text-transform:none;}
  }
  .entry-content &{
    list-style-position: outside;
    margin-left: -$grid-gutter-width;
    @include media-breakpoint-down(sm) {
      padding-left: 1rem;
    }

  }
}
ul, li{
    //list-style:none;
    color:inherit;
}
li{
  .entry-content &{
    @include media-breakpoint-down(sm) {
      margin-bottom: 1rem;
    }
  }
}
li[class*="page"],
li[class*="menu"]{
  > a{
    text-decoration:none;
  }
}
.block{
  padding:$grid-gutter-width/2;
}
.separator::after{
  @include hr(2px,100%,$gray-200);
  @extend .my-3;
}
