.toggle-nav {
  @include media-breakpoint-up(lg) {
    display:none;
  }
  position: fixed;
  top:2em;
  right:3em;
  z-index:99999;
  @include toggle-nav-bar(44px,6px);
  @include media-breakpoint-down(xs) {
    top:1em;
    right:1em;
  }
  span{
    .has-image &{
        @include media-breakpoint-down(lg) {
            background:white !important;
        }
    }
  }
  &.open span{
      background: white !important;
  }
}
/*** scroll-to-top***/
body > footer{
  @extend .row;
  justify-content: center;
  align-items: center;
  .footer-menu{
    flex:2 0 auto;
  }
  .scroll-to-top_cnt{
    opacity: .5;
    &:hover{
      cursor:pointer;
      opacity: 1;
    }
    .elastic{
      @include elastic-scale(40px,40px);
    }
  }
}

header{
  .navbar{
    display:none;
    @include media-breakpoint-up(lg) {
      margin-top:3.25rem;
    }
  }
  .navbar-nav > .nav-item:not(.menu-item-has-children) > a{
    &:after{
      content:'';
      height:3px;
      display: block;
      margin:6px auto 0 auto;
      opacity:0;
      width:0;
      border:0;
      @include myTransition(all,200ms,ease-in-out);
    }
    &:active:after,
    &:hover:after{
      opacity: 1;
      width:70%;
      border:0;
      @include myTransition(all,200ms,ease-in-out);
    }
  }
  .navbar-nav > .nav-item.current-menu-item > a:after{
    height:0 !important;
  }
  .dropdown-menu{
    margin-top: -6px;
    .dropdown-menu{
      left:90%;
      top:.5rem;
    }
  }
}
.dropdown.show{
  .level-1 & > .level-2{display: block;}
  .level-2 & > .level-3{display: block;}
}

#offMenu{
  position: fixed;
  top: -150%;
  left: 0%;
  right:0;
  z-index: 9999;
  bottom:100%;
  opacity: 0;
  height:100vH;
  @include myTransition(all,.25s,ease-in-out);
  overflow:scroll;
  &.open{
      top: 0%;
      bottom:0;
      opacity:.9;
      @include myTransition(all,.25s,ease-in-out);
  }
  > ul.nav {
    @include media-breakpoint-down(xs) {
      padding:5rem 0 3rem 0;
    }
  }
  .dropdown-menu {
    position: static;
    height: auto;
    background: transparent;
    width: 100%;
    min-width: initial;
    margin-bottom:.5rem;
  }
}
.footer-menu{
  text-align: center;
  font-size: .875rem;
  padding:1rem 0;
  margin:0;
  li{
    display: inline-block;
    padding: 0 1rem;

    a:hover{
      opacity:.5;
    }
  }
}
/**** Languages ****/
#languages-menu{
    font-family: Arial, sans-serif;
    margin: 0;
    z-index: 99;
    float: none;
    position: fixed;
    right:0;
    top:2rem;

    ul{margin:0;padding:.5em 0;}

    .lang-item{
        list-style:none;
        display:inline-block;
        border-right:1px solid currentColor;
        &:last-child{border:0;}
        span{
            width: 0;
            overflow:hidden;
            text-indent: -999999px;
            display: inline-block;
        }
        a {
            letter-spacing: .05em;
            padding: 0 1em;
            margin:0;
            &:hover{
              opacity: .5;
            }
            .lang-icon{
            @include svg-icon(1.25em,0,0,contain);
          }
        }
        &.current-lang{opacity: .5;}
    }
    .lang-item-de .lang-icon{
        background-image:url('../img/icons/icon-lang-de@2x.png');
        background-image: none, url('../img/icons/icon-lang-de.svg');
    }
    .lang-item-en .lang-icon{
      background-image:url('../img/icons/icon-lang-en@2x.png');
      background-image: none, url('../img/icons/icon-lang-en.svg');
    }
    .lang-item-zh .lang-icon{
      background-image:url('../img/icons/icon-lang-zn@2x.png');
      background-image: none, url('../img/icons/icon-lang-zn.svg');
    }
  @include media-breakpoint-down(md) {
    top:0;
    left:0;
    right:auto;
  }
}
