
.wpcf7-form-control{
    display:flex;
    align-items: flex-start;
}

.custom-control-label::before{
    width:1.5rem !important;
    height:1.5rem !important;
}

.custom-control-label::after {
    top: -.25rem !important;
    left: -1.55rem !important;
    display: block;
    width: .75rem !important;
    height: 1.5rem !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{
    background-color: transparent;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after{
    background-image: none !important;
    border-bottom: 3px solid $secondary;
    border-right: 3px solid $secondary;
    transform: rotate(45deg);
}

