/**global classes */
.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}

.elastic {
    .logo & {
      @include media-breakpoint-down(md) {
        @include elastic-scale(100%,28%);
      }
      @include media-breakpoint-up(lg) {
        @include elastic-scale(100%,35%);
      }
    }
  }
  
  .logo {
    @include media-breakpoint-down(xs) {
      margin: {
        top: $grid-gutter-width;
        right: -$grid-gutter-width;
        bottom: $grid-gutter-width;
        left: -$grid-gutter-width;
      }
    }
  }

  .block {
    padding: $grid-gutter-width/2;
  }
  
  .separator::after {
    @include hr(2px, 100%, $gray-200);
    @extend .my-3 !optional;
  }
  
/** Posts **/
.post-details {
  margin-top: -.5rem;
}
.post-details {
  .card-text & {
    display: flex;
    justify-content: space-between;
  }
}
.post-edit-link {
  body.page &,
  body.single & {
    @extend .btn !optional;

    @include media-breakpoint-down(sm) {
      bottom: 0;
      top: auto;
    }

    @include media-breakpoint-up(md) {
      @include transform (1, 90deg);
      transform-origin: 100% 100%;
      top: 25%;
      right: 2rem;
      position: fixed;
      z-index: 999999;
    }
  }

  body.category & {
    color: $link-color;

    span {
      display: none;
    }
  }
}

/***** Kommentare ****/
.comments,
#comments {
  display: none;
}


/*** scroll-to-top***/
.scroll-to-top_cnt{
  opacity: .5;
  &:hover{
    cursor:pointer;
    opacity: 1;
  }
  .elastic{
    @include elastic-scale(40px,40px);
  }
}
