.sidebar-footer{
    @include media-breakpoint-down(sm){
        flex-direction: column;

        .widget_text:first-child{
            margin-bottom: $card-spacer-y;
            padding-bottom: $card-spacer-y;
            border-bottom:1px solid $gray-500;
        }
        .widget_text .textwidget p:last-child{
            margin-bottom: 0;
        }
    }
}
