.carousel {
  position: relative;
}

.carousel-control-prev,
.carousel-control-next {
  display: inline-block;
  background-image: none !important;
  [class*="ti-"] {
    #bannerCarousel &{
      font-size: 2rem;
    }
  }
}

.carousel-indicators {
  bottom: 1rem;
  justify-content: flex-start;
  &:hover{
    + .carousel-inner .carousel-item figcaption{
      bottom:0;
      @include transition(all, 800ms, ease);
      background: rgba($black,.5);
    }
  }
  li {
    position: relative;
    flex: 0 1 auto;
    width: $carousel-indicator-width;
    height: $carousel-indicator-height;
  }
}

//newsCarousel
#newsCarousel {
  padding: $grid-gutter-width $grid-gutter-width 50% $grid-gutter-width;
  @include media-breakpoint-down(lg) {
    padding-bottom: 15%;
    margin-bottom: $grid-gutter-width;
  }
  

  [class*="carousel-control"]{
    top:$grid-gutter-width;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    i.fa{
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }
  }
  .carousel-control-prev{
    right:1.5rem;
    left:auto;
  }
}
