/**** Languages ****/
#languages-menu{
    margin: 0;
    z-index: 99;
    float: none;
    position: absolute;
    background-color:$brand_primary;
    
    * {color:#fff;}
    
     right: -5px;
     bottom:1em;

/*    @media screen and (max-width:$screen-sm){
        left: 0;
        top:0;
    }
    @media screen and (min-width:$screen-md + 1) and (orientation:portrait){
        top:0;
        right: 2em;
        position: absolute;
    }
    @media screen and (min-width:$screen-md + 1) and (orientation:landscape){
       

    }*/

    ul{margin:0;padding:.5em 0;}

    .lang-item{
        list-style:none;
        display:inline-block;
        border-right:1px solid currentColor;
        &:last-child{border:0;}
        a {
            letter-spacing: .05em;
            padding: 0 1em;
            margin:0;
        }
        span{
            width: 0;
            overflow:hidden;
            text-indent: -999999px;
            display: inline-block;
        }
        span:after{
            text-transform: uppercase;
        }
    }
    .lang-item-de a:after{
        content:'DE';
    }
    .lang-item-en a:after{
        content:'EN';
    }
    .lang-item-zh a:after{
        content:'文';
    }
}
/**** Footer Menu ****/
.footer-menu{
    margin-top:2rem;
    border-top:1px solid $border-color;
    padding:1rem;
    &, li{
        list-style:none;
        margin:1rem;
        padding:0;
    }
    @include display(flex);
    @include justify-content(center);

}
.toggle-nav {
        margin:0;
        display:none;
        top:2em;
        right:2em;
        z-index:99999;
        position: fixed;
        @media screen and (max-width:$screen-xs){
            top:1em;
            right:1em;
        }
        span{
            background:$brand-secondary;
            .has-image &{
                @media screen and (max-width:$screen-pad){
                background:white;
                }
            }
            
        }
        &.open span{
            background: white;
        }
        @include toggle-nav-bar(44px,6px);
}
#offMenu{
    position: fixed;
    top: -150%;
    left: 0%;
    right:0;
    z-index: 9999;
    bottom:100%;
    background: rgba( $brand-primary, .9 );
    @media screen and (min-width:$screen-xs){
        @include display(flex);
        @include justify-content(flex-start);
        @include align-items(center);
    }
    @media screen and (min-width:$screen-sm){
        @include justify-content(center);
    }

    opacity:0;
    @include transition(all .25s ease-in-out);
    overflow:scroll;
    /** styling ***/
    font-family:$headings-font-family;
    color:white;
    &.open{
        top: 0%;
        bottom:0;

        opacity:1;
        @include transition(all .25s ease-in-out);
    }
    ul{
        padding:0;
        margin:0;
        &.sub-menu{text-transform:none;}
    }
    > ul{
        text-transform: uppercase;
        border-top:2px solid currentColor;
        @media screen and (max-width:$screen-xs){
                padding-top:5vH;
            }
    }
    ul, li{
        list-style:none;
        color:inherit;
    }

    li[class*="page"],
    li[class*="menu"] {
       
        & > a {
            line-height:1.2;
            color:inherit;
            padding:1em;
            position:relative;
            display:inline-block;
            width:100%;
            border:{
                width:0 0 2px 0;
                style:solid;
                color:currentColor;
            }
            
            
             
            @media screen and (max-width:$screen-xs){
                font-size:1.6rem;
            }
            @media screen and (min-width:$screen-xs + 1){
                font-size:1.5rem;
            }
/*            &:before{
                content:'';
                position:absolute;
                top:50%;
                left:50%;
                right:50%;
                bottom:50%;
                background:transparent;
                z-index:-9;
            }*/
            &:hover{
                text-decoration:none;
                color:$brand-primary;
                @include transition(all .35s ease-in-out);

                border-color:transparent;
                &:before{
                    background: rgba( white, .5 );
                    @include transition(all .35s ease-in-out);
                    top:0;
                    left:0;
                    right:0;
                    bottom:0;
                }
            }
            [class*="has-children"]{
                a:after{
                    @include icon-style ("f0d7", 0, 1, 2rem, 2rem);
                }
            }
        }
        
    }
    
    .sub-menu{
        @media screen and (max-width:$screen-xs){
            display:block;
        }
        li{
            a:before{
                @include icon-style ("\f0da", 1rem, 1, 2rem, 2rem);
            }
        }
    }
}