/*------------------------------------*\
    Globals
\*------------------------------------*/
body {

    .wrapper{
        background:$mainBg;
        position:relative;
        .header-image{
            position:relative;
        }
        main{
            margin-top:8vH;
            .main-content{
                @media screen and (max-width:$screen-pad-landscape){
                    padding-right:3em;
                }
            }
        }
        .logo a:hover{
            cursor:default;
        }
    }
}
/*------------------------------------*\
    POSTS
\*------------------------------------*/

/*------------------------------------*\
    PAGES
\*------------------------------------*/
/*------------------------------------*\
    Sidebar
\*------------------------------------*/
.contact{
    position:relative;
    background:$brand-primary;
    &, & *{color:white;}
    > *{
        padding:{
            left:1rem;
            right:1rem;
        }
        &:first-child{
            padding-top:1rem;
        }
        &:last-child{padding-bottom:1rem;}
    }
}
.info{
    margin:1em 0;
}




/*------------------------------------*\
    IMAGES
\*------------------------------------*/
.header-image{
    border:3px solid $mainBg;
    @media screen and (min-width:$screen-md){
        max-height:415px;
        overflow:hidden;
    }

}
/*------------------------------------------------
Nivo Lightbox
--------------------------------------------------*/
.nivo-lightbox-overlay{
    &.nivo-lightbox-open{
        @include alpha-background-color(rgba(black, 0.75), white);
    }
}
a[class*="nivo-lightbox"]{color:white;}
.nivo-lightbox-nav, .nivo-lightbox-close{
    display:block;
    @extend %text-indent;
    background: transparent url(../img/nivo-icons.svg) no-repeat 0% 0% / cover;
    width:26px;
    height:26px;
    
    .no-svg &{
        background-image:url(../img/nivo-icons.png);
    }
}
.nivo-lightbox-close{
    top:10%;
    right:10%;
}
.nivo-lightbox-nav{
    &.nivo-lightbox-prev{
        left:10%;
        background-position: 0% 100%;
    }
    &.nivo-lightbox-next{
        right:10%;
        background-position: 0% 50%;
    }
}
/*------------------------------------------------
gallery
--------------------------------------------------*/
/*#wpadminbar{display:none;}
html{margin-top:0!important;}*/
[class*='gallery-columns']{
    @media screen and (min-width:$screen-sm){
        @include display(flex);
        .main-content &{
            @include flex-wrap(wrap);
            @include flex-grow(1);
            @media screen and (max-width:$screen-xs){
                @include justify-content(center);
            }
        }
        aside.sidebar &{
            max-width:300px;
            @include flex-direction(column);
            @include justify-content(space-between);
        }
    }
}
.gallery-item{
    margin:1px;
    position:relative;
    overflow:hidden;
    @media screen and (min-width:$screen-sm){
        .gallery-columns-1 &{
            @include flex-basis(calc(100%/1 - 2px));
            -ms-flex-preferred-size:calc(100%/1 - 2px);
        }
        .gallery-columns-2 &{
            @include flex-basis(calc(100%/2 - 2px));
            -ms-flex-preferred-size:calc(100%/2 - 2px);
        }
        .gallery-columns-3 &{
            @include flex-basis(calc(100%/3 - 2px));
            -ms-flex-preferred-size:calc(100%/3 - 2px);
        }
        .gallery-columns-4 &{
            @include flex-basis(calc(100%/4 - 2px));
            -ms-flex-preferred-size:calc(100%/4 - 2px);
        }
        .gallery-columns-5 &{
            @include flex-basis(calc(100%/5 - 2px));
            -ms-flex-preferred-size:calc(100%/5 - 2px);
        }
        .gallery-columns-6 &{
            @include flex-basis(calc(100%/6 - 2px));
            -ms-flex-preferred-size:calc(100%/6 - 2px);
        }
        .gallery-columns-7 &{
            @include flex-basis(calc(100%/7 - 2px));
            -ms-flex-preferred-size:calc(100%/7 - 2px);
        }
        .gallery-columns-8 &{
            @include flex-basis(calc(100%/8 - 2px));
            -ms-flex-preferred-size:calc(100%/8 - 2px);
        }
        .gallery-columns-9 &{
            @include flex-basis(calc(100%/9 - 2px));
            -ms-flex-preferred-size:calc(100%/9 - 2px);
        }
    }
    aside.sidebar &{
        margin-bottom:1em;
    }
    a {
        display:block;
        width:inherit;
        img {
            @include shadow;
            width:100%;
            height:auto;
        }
    }
    [class*="caption"]{
        padding:.5rem;
        text-align:center;
        background: rgba($brand-primary, 0.75);
        font-weight:bold;
        color:white;
        @media screen and (max-width:$screen-sm){
            font-size:larger;
        }
    }
    /*** Caption Hover ***/
    .main-content &{
            .gallery-caption,
    .gallery-icon{
        position:absolute;
        left:0;
        right:0;
    }
    .gallery-icon{
        top:0;
        bottom:0;
    }
    .gallery-caption{
        top:-150%;
        bottom:100%;
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(center);
    }
    &:hover, &:focus{
        .gallery-caption{
            top:0;
            bottom:0;
            @include transition(all .25s ease-in-out);
        }
    }
    }

}

