/*------------------------------------*\
    Globals
\*------------------------------------*/
body {
    
    .wrapper{
        background:$mainBg;
        position:relative;
        .header-image{
            position:relative;
        }
        main{
            margin-top:8vH;
        }
        .logo a:hover{
            cursor:default;
        }
    }
}
/*------------------------------------*\
    POSTS
\*------------------------------------*/

/*------------------------------------*\
    PAGES
\*------------------------------------*/
/*------------------------------------*\
    Sidebar
\*------------------------------------*/
.contact{
    position:relative;
    background:$brand-primary;
    &, & *{color:white;}
    > *{
        padding:{
            left:1rem;
            right:1rem;
        }
        &:first-child{
            padding-top:1rem;
        }
        &:last-child{padding-bottom:1rem;}
    }
}
.info{
    margin:1em 0;
}




/*------------------------------------*\
    IMAGES
\*------------------------------------*/
.header-image{
    border:3px solid $mainBg;
    @media screen and (min-width:$screen-md){
        max-height:415px;
        overflow:hidden;
    }
    
}
/*------------------------------------------------
Nivo Lightbox
--------------------------------------------------*/
.nivo-lightbox-overlay{
    &.nivo-lightbox-open{
        @include alpha-background-color(rgba(black, 0.75), white);
    }
}
a[class*="nivo-lightbox"]{color:white;}
.nivo-lightbox-nav, .nivo-lightbox-close{
    display:block;
    @extend %text-indent;
    background: transparent url(../img/nivo-icons.png) no-repeat 0% 0%;
    width:26px;
    height:26px;
}
.nivo-lightbox-close{
    top:10%;
    right:10%;
}
.nivo-lightbox-nav{
    &.nivo-lightbox-prev{
        left:10%;
        background-position: 0% 100%;
    }
    &.nivo-lightbox-next{
        right:10%;
        background-position: 0% 50%;
    }
}
/*------------------------------------------------
gallery
--------------------------------------------------*/
[class*='gallery-columns']{
    .main-content &{
        @include display(flex);
        @include flex-wrap(wrap);
        @include flex-grow(1);
        @media screen and (max-width:$screen-xs){
            @include justify-content(center);
        }
    }
    
    
    aside.sidebar &{
/*        @include flex-direction(column);
        @include justify-content(space-between);*/
    }

}
.gallery-item{
    margin:.1rem;

    a {
        display:block;
        width:inherit;
        img {
            @include shadow;
            width:100%;
            height:auto;
        }
    }
    [class*="caption"]{
        padding:.5rem;
    }
    @media screen and (min-width:$screen-lg){
    .gallery-columns-1 &{
        @include flex-basis(calc(100%/1 - 2px));
        -ms-flex-preferred-size:calc(100%/1 - 2px);
    }
    .gallery-columns-2 &{
        @include flex-basis(calc(100%/2 - 2px));
        -ms-flex-preferred-size:calc(100%/2 - 2px);
    }
    .gallery-columns-3 &{
        @include flex-basis(calc(100%/3 - 2px));
        -ms-flex-preferred-size:calc(100%/3 - 2px);
    }
    .gallery-columns-4 &{
        @include flex-basis(calc(100%/4 - 2px));
        -ms-flex-preferred-size:calc(100%/4 - 2px);
    }
    .gallery-columns-5 &{
        @include flex-basis(calc(100%/5 - 2px));
        -ms-flex-preferred-size:calc(100%/5 - 2px);
    }
    .gallery-columns-6 &{
        @include flex-basis(calc(100%/6 - 2px));
        -ms-flex-preferred-size:calc(100%/6 - 2px);
    }
    .gallery-columns-7 &{
        @include flex-basis(calc(100%/7 - 2px));
        -ms-flex-preferred-size:calc(100%/7 - 2px);
    }
    .gallery-columns-8 &{
        @include flex-basis(calc(100%/8 - 2px));
        -ms-flex-preferred-size:calc(100%/8 - 2px);
    }
    .gallery-columns-9 &{
        @include flex-basis(calc(100%/9 - 2px));
        -ms-flex-preferred-size:calc(100%/9 - 2px);
    }
    }

}