body.page-template-template-maintenance{
        min-height:100vH;
        position:relative;
        main{
            position:relative;
            padding:0 2.8rem;

            article > section{
/*                @include clearfix;
                @include display(flex);
                @include justify-content(space-between);
                @media screen and (max-width:$screen-sm - 1) and (orientation:portrait){
                    @include flex-direction(column);
                }

                @media screen and (max-width:$screen-sm) and (orientation:landscape){
                    @include flex-direction(row);
                }
                 > div {

                    @media screen and (orientation:portrait){
                        margin-bottom:1rem;
                    }
                    @media screen and (orientation:landscape){

                        @include flex-basis(50%);
                        &:first-child {
                            margin-right:2vW;
                        }
                    }
                    @media screen and (min-width:$screen-sm) and (orientation:landscape){
                        float:left;
                        min-width:calc(500px-2vW);
                    }
                }*/

            }
        }
    }
.wrapper{
    min-height:100vH;
    @media screen and (min-width:$screen-md){
        @include outer-container(970px);
    }
    @media screen and (min-width:$screen-lg){
        @include outer-container(1170px);
    }
    > main{
        padding:0 2.8rem 5vH 2.8rem;
        float:left;
        display:block;
        background:white;
        @include clearfix;
    }

    article > section{
        /*        @media screen and (min-width:$screen-md){*/
        @include display(flex);
        @include justify-content(space-between);

        .main-content{
            @include order(1);
        }
        aside{
            @include order(2);
            @media screen and (min-width:$screen-sm + 1){
               @include flex-basis(32.5%);
            margin-left:2.5%;
            + .main-content{
                @include flex-basis(62.5%);

            } 
            }
            

        }
        /*        }*/
        @media screen and (max-width:$screen-sm){
            @include flex-direction(column);
        }
    }


}
/* header */
.header {

}
/* logo */
.logo{
    margin: 0 auto;
    @media screen and (max-width:$screen-sm - 1){
        width: 90%;
        margin-top:12vH;
        .has-image{
            margin-top: 3vH;
        }

    }
    @media screen and (min-width:$screen-sm){
        width:75%;
        margin-top:12vH;
        .has-image{margin-top:7.5vH;}

    }
}
/* nav */
.nav {

}
/* sidebar */
.sidebar {
}
/* footer */
.footer {
    clear:both;
}